* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #dfae3a;
    --main-alt-color: #a79879;
    --bg-color: #161616;
    --second-bg-color: #1f1f1f;
    --text-color: #ededed;
    --lorem-color: #FFFFFF99;
    --black-color: #000000;
    --transparent-black-color: #00000080;
    --blur-backdrop: blur(10px);
    --main-font-family: "Poppins", "Roboto", sans-serif;
    --main-transition-duration: .3s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 72px;
    font-size: 62.5%;
}

body {
    font-family: var(--main-font-family);
    overflow-x: hidden;
    padding-top: 25px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

.blue-text {
    color: var(--main-color);
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: bold;
    color: var(--white-color);
}

.main-title {
    position: relative;
    margin: 0px auto 1rem;
    border: 2px solid var(--main-color);
    padding: 10px 3rem;
    font-size: 30px;
    text-align: center;
    color: var(--text-color);
    width: fit-content;
    z-index: 1;
    border-radius: 6px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--bg-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move var(--main-transition-duration) linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move var(--main-transition-duration) linear forwards;
}

.main-title:hover {
    color: #fff;
    border: 2px solid #fff;
    transition-delay: calc(var(--main-transition-duration) + 1/2 * var(--main-transition-duration));
}

.main-title span {
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition-duration);
}

.blur {
    position: absolute;
    box-shadow: 0 0 900px 55px var(--main-color);
    z-index: 1;
    bottom: 150px;
    left: 50px;
    animation: up-down 10s ease-in-out infinite alternate;
}

.blur-2 {
    position: absolute;
    box-shadow: 0 0 900px 30px var(--main-color);
    z-index: 1;
    bottom: -20px;
    right: 50px;
    animation: right-left 20s ease-in-out infinite alternate;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    overflow: hidden;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--main-color);
    background: transparent;
    z-index: 1;
    text-shadow: 0 1px .5px #000;
    overflow: hidden;
    transition: var(--main-transition-duration);
}

.btn-box .btn:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
}

/* Header Start */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    transition: var(--main-transition-duration);
}

.logo {
    position: relative;
}

.logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100vmax;
    border: 2px solid #fff;
    transition: var(--main-transition-duration);
}

.logo img:hover {
    -webkit-box-shadow: 0px 0px 10px 0px #ddddddc5;
    -moz-box-shadow: 0px 0px 10px 0px #ddddddc5;
    box-shadow: 0px 0px 10px 0px #ddddddc5;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .margin {
    margin-right: 50px;
}

.last-box {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 100vmax;
    cursor: pointer;
    transition: var(--main-transition-duration);
}

.last-box select {
    width: 90px;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

.last-box select option {
    font-size: 15px;
    font-weight: bold;
    border: none;
}

#myImage {
    width: 25px;
    height: 25px;
    padding-right: 3px;
    object-fit: cover;
}

.nav-item {
    list-style: none;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 2.5rem;
}

.nav-item .dropdown-menu {
    background-color: var(--bg-color);
    border-top: 3px solid var(--main-color);
    min-width: 200px;
    padding: 5px 0;
    margin-top: 0px;
    border-radius: 7px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .4);
}

.nav-item .dropdown-menu .dropdown-item {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 17px;
    margin: 0;
    transition: all var(--main-transition-duration) ease-out;
}

.nav-item .dropdown-menu .dropdown-item:hover {
    background-color: var(--main-color);
    padding-left: 24px;
}

.dropdown-divider {
    background-color: var(--main-color);
}

.navbar .margin>a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 2.5rem;
    transition: var(--main-transition-duration) ease-out;
}

.navbar .margin>a:hover,
.navbar .nav-item:hover,
.navbar .margin>.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    margin-top: 3px;
    display: none;
    cursor: pointer;
}

/* Top Section Styling Start */

.top {
    --topic-heading-size: 7rem;

    position: relative;
    width: 100%;
    height: 95svh;
    background: url(../images/IMG-20240222-WA0033.jpg) center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.top::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.5rem;
    background: linear-gradient(to top, var(--bg-color), transparent);
}

.top .topic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .topic h2 {
    color: var(--text-color);
    font-size: var(--topic-heading-size);
    text-align: center;
    z-index: 1;
}

.top .topic h2 span {
    background-image: linear-gradient(-45deg, #dfae3a, #e2a922);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: calc(var(--topic-heading-size) + 1rem);
    font-weight: bold;
    text-align: center;
}

/* Top Section Styling End */

/* Contact Section Styling Start */

.contact {
    position: relative;
    min-height: auto;
    background-color: var(--bg-color);
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    z-index: 1;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border: .1rem solid var(--main-color);
    border-radius: .4rem;
    outline: none;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}

.contact form .focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--second-bg-color);
    border-radius: .4rem;
    z-index: -1;
    transition: .5s;
}

.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus,
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus {
    width: 100%;
}

.contact form .textarea-field {
    position: relative;
    margin: 0.8rem 0 2.7rem;
    display: flex;
    z-index: 1;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    color: var(--text-color);
    background-color: var(--second-bg-color);
}

.footer .footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop span {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop span i {
    font-size: 2.4rem;
    color: var(--main-color);
    transition: .5s;
}

.footer-iconTop {
    border-radius: .6rem;
    transition: var(--main-transition-duration);
    cursor: pointer;
}

.footer-iconTop:hover {
    background-color: var(--main-color);
}

.footer-iconTop span:hover i {
    color: var(--bg-color);
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Contact Section Styling End */

/* ======================================= Responsive ======================================= */


@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 991px) {
    body {
        padding-top: 70px;
    }

    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .footer {
        padding: 2rem 4%;
    }

    .top {
        --topic-heading-size: 6rem;
    }

}

@media screen and (max-width: 1150px) {
    body {
        padding-top: 75px;
    }

    .navbar {
        display: block;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        padding-bottom: 7rem;
        background: url(../images/Profile-img.jpg) center center/cover no-repeat;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .35);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }

    .navbar .last-box {
        position: absolute;
        left: -100%;
        width: 95%;
        top: 100%;
        transition: .25s ease;
        transition-delay: 0s;
        z-index: 1;
        margin-top: -60px;
    }

    .navbar.active .last-box {
        left: 2%;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .50);
        border-top: .15rem solid var(--main-color);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar .margin a {
        display: block;
        font-size: 2rem;
        margin: 2rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .nav-item {
        margin: 0;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .last-box select {
        width: 100%;
    }

    .last-box select option {
        font-size: 15px;
    }
}

@media screen and (max-width: 625px) {
    html {
        font-size: 50%;
    }

    .last-box select option {
        font-size: 13px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 500px) {
    body {
        padding-top: 50px;
    }
    
    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }

    .top {
        --topic-heading-size: 5rem;
    }
        
    .top .topic h2 span {
        font-size: calc(var(--topic-heading-size) + .5rem);
    }

}

@media screen and (max-width: 375px) {
    .top {
        --topic-heading-size: 4rem;
    }
        
    .top .topic h2 span {
        font-size: calc(var(--topic-heading-size) + .5rem);
    }
}


/* ======================================= Animations ======================================= */

@keyframes up-down {
    100% {
        bottom: 450px;
    }
}

@keyframes right-left {
    100% {
        bottom: 50px;
        right: 900px;
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes slideRight {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 4px;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 4px;
        width: 100%;
        height: 100%;
    }
}

@keyframes up-and-down {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(-20px);
    }
}

@keyframes slideTop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}